{% extends "_base.html" %}
{% block content %}
    <h1 class="text-info">Add User</h1>
   <form action="{{ url_for('user.create_user') }}" method="post">
        <div class="row">
        <div class="mb-3 col-4">
        <label class="form-label" for="user_name">User name:</label><br>
        <input class="form-control" type="text" id="user_name" name="user_name" required><br>

        <label class="form-label" for="user_email">User email:</label><br>
        <input class="form-control" type="email" id="user_email" name="user_email" required><br>

        <label class="form-label" for="user_password">User password:</label><br>
        <input class="form-control" type="password" id="user_password" name="user_password" required><br>

        <label class="form-label" for="user_group">User group:</label><br>
        <input class="form-control" type="text" id="user_group" name="user_group" required><br><br>
        <br>
        <input class="form-control btn btn-success shadow-lg" type="submit" value="Submit">
        </div>
        </div>
    </form>

{% endblock %}