{% extends "_base.html" %}
{% block content %}

    <h1 class="text-info">Add Product</h1>
   <form action="{{ url_for('product.create_product') }}" method="post">
        <div class="row">
        <div class="mb-3 col-4">
        <label class="form-label" for="product_name">Product name:</label><br>
        <input class="form-control" type="text" id="product_name" name="product_name" required><br>

        <label class="form-label" for="product_unit">Product unit:</label><br>
        <input class="form-control" type="text" id="product_unit" name="product_unit" required><br>

        <label class="form-label" for="product_price">Product price:</label><br>
        <input class="form-control" type="number" min="0" max="1000" step="0.01" id="product_price" name="product_price" required><br>

        <label class="form-label" for="product_ean">Product ean:</label><br>
        <input class="form-control" type="number" min="1000000000000" max="9999999999999" step="1" id="product_ean" name="product_ean"><br><br>
        <br>
        <input class="form-control btn btn-success shadow-lg" type="submit" value="Submit">
        </div>
        </div>
    </form>

{% endblock %}